#Spring JPA
## Spring DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)
spring:
  datasource:
    url: jdbc:h2:mem:vg_sm
    username: xbc_u
    password: xbc_p
  h2:
    console:
      enabled: true
  jpa:
    properties:
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect
#      hibernate:
#        enable_lazy_load_no_trans: true
#        jdbc:
#          time_zone: +03:00
    hibernate:
      ddl-auto: create # create, update
    database: h2 # mysql
#  servlet:
#    multipart:
#      enabled: true
#      max-file-size: 2MB
server:
  port: 8080
webapp:
  pagination:
    page-size: 4
  path:
    image-folder: /Users/abbesbes/images/