<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html th:fragment="dashlayout (template, menu)">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
</head>

<body>
<div class="fixnav fixnav-left">

	<div class="img-cont" th:if="${currentUser.photos.size() == 0}">
		<img th:src="@{/images/default/cvpic.png}">
	</div>
	<div class="img-cont" th:unless="${currentUser.photos.size() == 0}">
		<img th:src="${currentUser.photos[currentUser.photos.size() - 1].path}">
	</div>

	<div class="nav-sep">
	</div>

	<a href="/dashboard">Dashboard</a>
	<a href="/list?type=0&page=1">All users</a>
	<a href="/list?type=1&page=1">My invitees</a>
	<a href="/list?type=2&page=1">My direct invitees</a>

	<a href="/signout">Sign out</a>

	<div class="nav-sep">
	</div>

	<div class="elem hoverable">
		<p class="elem-left">Score</p>
		<p class="elem-right" th:text="${#numbers.formatDecimal(currentUser.score, 0, 'COMMA', 2, 'POINT')}"></p>
	</div>
	<div class="elem hoverable">
		<p class="elem-left">Invited</p>
		<p class="elem-right" th:text="${currentUser.invitees}"></p>
	</div>
	<div class="elem hoverable">
		<p class="elem-left">Direct</p>
		<p class="elem-right" th:text="${currentUser.direct}"></p>
	</div>

	<div class="nav-sep" style="margin-bottom: 36px">
	</div>

	<div class="box">
		<div class="elem">
			<p class="elem-mid">Invitation Code</p>
		</div>
		<div class="elem">
			<p id="rcode" class="elem-mid inv-code" th:text="${currentUser.rCode}"></p>
		</div>
	</div>
	<div class="elem elem-mid">
		<div class="btn" onclick="copycode()">Share
<!--			<div class="btn">Share</div>-->
		</div>
	</div>
</div>

<div class="fixnav fixnav-top">
</div>

	<div class="dash-core">
		<th:block th:include="${template}"/>
	</div>
<script>
function copycode() {
		/*		var rcode = document.getElementById("rcode");
		alert("inn: " + rcode.innerText);
    alert("val: " + rcode.innerText);
		rcode.select();
    document.execCommand("copy");
    alert("Link has been copied !: " + rcode.value);*/
		alert("Not implemented yet !");
}
</script>
</body>

<html>