<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
		th:fragment="dashlayout (template, menu)">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
</head>

<body>
<div class="fixnav fixnav-left">

	<div class="logo">
		xBlueCode
	</div>

	<div class="img-cont" th:if="${currentUser.photos.size() == 0}">
		<img th:src="@{/images/default/cvpic.png}">
	</div>
	<div class="img-cont" th:unless="${currentUser.photos.size() == 0}">
		<img th:src="${currentUser.photos[currentUser.photos.size() - 1].path}">
	</div>

	<div class="nav-sep">
	</div>

	<a href="/dashboard">Dashboard</a>
	<a onclick="submenu_shrink('submenu_list')">Users</a>

	<div style="max-height: 172px">
		<div id = "submenu_list" class="submenu submenu-shrink">
			<a href="/list?type=0&page=1">All users</a>
			<a href="/list?type=1&page=1">All invitees</a>
			<a href="/list?type=2&page=1">Direct invitees</a>
			<a href="/list?type=3&page=1">Direct referrer</a>
			<a href="/list?type=4&page=1">All referrers</a>
		</div>
	</div>

	<a href="/signout">Sign out</a>

	<div class="nav-sep">
	</div>

	<div class="elem hoverable">
		<p class="elem-left">Score</p>
		<p class="elem-right" th:text="${#numbers.formatDecimal(currentUser.score, 0, 'COMMA', 2, 'POINT')}"></p>
	</div>
	<div class="elem hoverable">
		<p class="elem-left">Invited</p>
		<p class="elem-right" th:text="${currentUser.invitees}"></p>
	</div>
	<div class="elem hoverable">
		<p class="elem-left">Direct</p>
		<p class="elem-right" th:text="${currentUser.direct}"></p>
	</div>

	<div class="nav-sep" style="margin-bottom: 36px">
	</div>

	<div class="box">
		<div class="elem">
			<p class="elem-mid">Invitation Code</p>
		</div>
		<div class="elem">
			<p id="rcode" class="elem-mid inv-code" th:text="${currentUser.rCode}"></p>
		</div>
	</div>
	<div class="elem elem-mid">
		<div class="btn" onclick="copycode()">Share
		</div>
	</div>
</div>

<div class="fixnav fixnav-top">
</div>

	<div class="dash-core">
		<th:block th:include="${template}"/>
	</div>
<script>
function copycode() {
	try {
		navigator.clipboard.writeText('http://localhost:8080/invite?code=' + document.getElementById('rcode').innerText);
		alert("Congrats !\nYour Magic Link is copied successfully !");
	} catch (err) {
		console.error('Failed to copy: ', err);
	}
}

function submenu_shrink(id) {
	var submenu = document.getElementById(id);
	submenu.classList.toggle("submenu-shrink");
}

</script>
</body>

<html>