a {
    color: #435160;
    text-decoration: none;
}

/*.login {*/
/*    width: 350px;*/
/*    position: absolute;*/
/*    top: 10%;*/
/*    left: 50%;*/
/*    margin-left: -175px;*/
/*}*/


.login-container {
    /*position: center;*/
    margin: auto;
    max-width: 350px;
}

.form-container {
    /*position: center;*/
    /*margin: auto;*/
    /*max-width: 350px;*/
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*opacity: 0.4;*/
    /*transition: all .5s ease;*/
}

.form-field {
    /*margin: 8px auto;*/
    min-width: 75%;
    width: 75%;
}

.form-label {
    margin: 8px auto;
    font-size: 12px;
    /*text-align: left;*/
}

.form-label-error {
    color: deeppink;
    margin-bottom: 0;
}

input
{
    /*margin: 8px auto;*/
    font-size: 14px;
    text-align: center;
}

.button {
    background-color:rgba(52, 152, 219,1.0);;
    /*-moz-border-radius:100px;*/
    /*-webkit-border-radius:100px;*/
    /*border-radius:100px;*/
    width: 100%;
    /*border:1px solid #18ab29;*/
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    /*font-family:Arial;*/
    font-size:14px;
    padding:16px 32px;
    text-decoration:none;
    transition: opacity .5s ease;
    /*text-shadow:0px 1px 0px #2f6627;*/
    /*shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);*/
    /*shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);*/
}
.button:hover {
    /*background-color:#5cbf2a;*/
    opacity: 0.9;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 16px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(52, 152, 219,1.0);
    outline: none;
    color: #6D7781;
    /*text-decoration:none;*/
    /*font-size: 16px;*/
}

input[type=checkbox] {
    display: none;
}

/*label {
    display: block;
    position: absolute;
    margin-right: 10px;
    !*width: 8px;*!
    height: 8px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #435160;
}*/

#agree:checked ~ label[for=agree] {
    background: #435160;
}

/*input[type="submit"] {*/
/*    background: #1FCE6D;*/
/*    border: 0;*/
/*    width: 350px;*/
/*    height: 40px;*/
/*    border-radius: 3px;*/
/*    color: #fff;*/
/*    font-size: 12px;*/
/*    cursor: pointer;*/
/*    transition: background 0.3s ease-in-out;*/
/*}*/
/*input[type="submit"]:hover {*/
/*    background: #16aa56;*/
/*    animation-name: shake;*/
/*}*/

.forgot {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}
.forgot:hover {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #6D7781;
}

.agree {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

::-webkit-input-placeholder {
    color: #435160;
    font-size: 12px;
}



/*.animated {*/
/*    animation-fill-mode: both;*/
/*    animation-duration: 1s;*/
/*}*/

/*@keyframes shake {*/
/*    0%, 100% {*/
/*        transform: translateX(0);*/
/*    }*/
/*    10%, 30%, 50%, 70%, 90% {*/
/*        transform: translateX(-10px);*/
/*    }*/
/*    20%, 40%, 60%, 80% {*/
/*        transform: translateX(10px);*/
/*    }*/
/*}*/
