<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org"
			th:replace="~{fragments/dashlayout :: dashlayout (~{::body},'dashboard')}">
<head>
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
</head>
<body>

<div>
	<form method="POST" enctype="multipart/form-data" th:action="@{/upload}">
		<table>
			<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
			<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
		</table>
	</form>
</div>

<!--
<div>
	<ul>
		<li th:each="file : ${files}">
			<a th:href="${file}" th:text="${file}" />
		</li>
	</ul>
</div>
-->

</body>
</html>