<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org"
			th:replace="~{fragments/dashlayout :: dashlayout (~{::body},'dashboard')}">
<head>
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
</head>
<body>

<div>

	<div class="showcase-title card card-colored-0" style="padding: 16px">
		<form method="POST" enctype="multipart/form-data" th:action="@{/upload}">
			<div class="card upload-btn-wrapper">
				<input class="btn cardbtn" type="file" name="file">Select new photo</input>
			</div>
			<div class="card upload-btn-wrapper">
				<input class="cardbtn" type="submit">Save</input>
			</div>
		</form>
	</div>

	<div class="showcase-title card card-colored-0" style="padding: 16px">
		<h2>Gallery</h2>
	</div>


	<div class="showcase-container progrid", style="height: 100%">
		<div th:each="photo : ${currentUser.photos}">
			<div class="card procard" style="height: 128px">
				<div class="procard-img-cont card-colored-4">
					<img class="proimg" th:src="${photo.path}">
				</div>
				<div class="card-colored-4 procard-row procard-bar">
				</div>

				<div class="procard-row">
					<p class="procard-title">
						Some beautiful title
					</p>
				</div>
				<div class="procard-row">
					<p class="procard-sub-title">
						And beautiful sub-titles
					</p>
				</div>

				<div class="procard-row">
					<div class="card procard-button">
						<p class="procard-label-txt-l procard-label-txt">View</p>
						<!--								<i class="far fa-eye" style="color: #222222; margin: 16px"></i>-->
					</div>
				</div>

				<div class="card-colored-5 procard-row procard-bar" style="margin-top: 16px">
				</div>
			</div>
		</div>
	</div>




</div>

</body>
</html>