<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org"
			th:replace="~{fragments/layout :: layout (~{::body},'dashboard')}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"/>
</head>
<body style="height: 100%">
<div class="abs" style="height: 100%">
	<div style="height: 100%">
		<div class="showcase card-nosh" style="height: 100%">
			<div class="showcase-title card card-colored-0" style="padding: 16px">
				<h2>List of users</h2>
<!--				<h3>Handling auto fitting</h3>-->
<!--				<p>Using auto-fit and minmax()</p>-->
			</div>

			<div class="showcase-title card card-colored-0 ltoolbar">
				<div class="ltoolbar-elem">
					<button id="page_prev" th:onclick= "'paginate(this, ' + ${pageMax} + ')'">Prev</button>
				</div>
				<div class="ltoolbar-elem">
					<p class="form-label" id="pagen" th:text="${#request.getParameter('page')}"></p>
				</div>
				<div class="ltoolbar-elem">
					<p class="form-label" id="pagem" th:text="${pageMax}"></p>
				</div>
				<div class="ltoolbar-elem">
					<button id="page_next" th:onclick= "'paginate(this, ' + ${pageMax} + ')'">Next</button>
				</div>
			</div>

			<div class="showcase-container progrid", style="height: 100%">
				<div th:each="user : ${list}">
					<div class="card procard">
						<div>
							<img src="/images/default/cvpic.png" class="proimg">
							<div class="procard-row">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
							</div>
						</div>
					</div>

					<!--<div class="card card-element card-colored-1 fcard ">
						<p class="form-label" th:text="${user.username}"></p>
						<br/>
						<p class="form-label" th:text="${user.email}"></p>
						<br/>
						<p class="form-label" th:text="${user.rCode}"></p>
						<br/>
						<p class="form-label" th:text="${user.iCode}"></p>
						<br/>
						<p class="form-label" th:text="${user.score}"></p>
						<br/>
						<p class="form-label" th:text="${user.invitees}"></p>
					</div>-->
				</div>
			</div>

			<script>
				function paginate(paction, pageMax)
				{
				    // alert('act: ' + paction + 'max: ' + parseInt(pageMax))
						var pagen = parseInt(document.getElementById('pagen').innerText);
						pagen += 1 - 2 * (paction.id == "page_prev");
						if (pagen > 0 & pagen <= pageMax)
						{
						    const url = '/list?page=' + pagen;
						    location.replace(url);
						}
				}
			</script>
		</div>
	</div>

	<!--<ul>-->
	<!--    <li>-->
	<!--        <a href="/dashboard/refer">Refer and earn</a>-->
	<!--    </li>-->
	<!--    <li>-->
	<!--        <a href="/logout">Logout</a>-->
	<!--    </li>-->
	<!--</ul>-->
</div>
</body>
</html>