<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org"
			th:replace="~{fragments/layout :: layout (~{::body},'dashboard')}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"/>
</head>
<body style="height: 100%">
<div class="abs" style="height: 100%">
	<div style="height: 100%">
		<div class="showcase card-nosh" style="height: 100%">
			<div class="showcase-title card card-colored-0" style="padding: 16px">
				<h2>List of users</h2>
<!--				<h3>Handling auto fitting</h3>-->
<!--				<p>Using auto-fit and minmax()</p>-->
			</div>

<!--			<div class="showcase-title procard-row">
				<div class="card procard-label">
					<p class="procard-label-txt-l procard-label-txt"> 12 </p>
					<p class="procard-label-txt-r procard-label-txt"> 213 </p>
				</div>
			</div>-->

			<div class="showcase-title card card-colored-0">

				<div class="showcase-title procard-row ltoolbar">

					<button id="page_prev" class="ltoolbar-elem ltoolbar-tbutton"
									th:onclick="'paginate(this, ' + ${pageMax} + ')'"> <
					</button>

					<div class="ltoolbar" style="background: rgba(52, 152, 219,1.0)">
						<div id="pagen" class="ltoolbar-elem ltoolbar-label-txt" th:text="${#request.getParameter('page')}"> <
						</div>
						<div class="ltoolbar-elem ltoolbar-label-txt"> :
						</div>
						<div id="pagem" class="ltoolbar-elem ltoolbar-label-txt" th:text="${pageMax}"> <
						</div>
					</div>

					<button id="page_next" class="ltoolbar-elem ltoolbar-tbutton"
									th:onclick="'paginate(this, ' + ${pageMax} + ')'"> >
					</button>

				</div>
			</div>

			<div class="showcase-container progrid", style="height: 100%">
				<div th:each="user : ${list}">
					<div class="card procard">
						<div>
							<img src="/images/default/cvpic.png" class="proimg">
						</div>

						<div class="card-colored-4 procard-row procard-bar">
						</div>

						<div class="procard-row">
							<p class="procard-title">
								Abdelfettah Besbes
							</p>
						</div>
						<div class="procard-row">
							<p class="procard-sub-title">
								Student at UnitFactory
							</p>
						</div>

						<div class="procard-row">
							<div class="card procard-label">
								<p class="procard-label-txt-l procard-label-txt"> Score </p>
								<p class="procard-label-txt-r procard-label-txt" th:text="${#numbers.formatDecimal(user.score, 0, 'COMMA', 2, 'POINT')}">
								</p>
							</div>
						</div>

						<div class="procard-row">
							<div class="card procard-label">
								<p class="procard-label-txt-l procard-label-txt"> Invited </p>
								<p class="procard-label-txt-r procard-label-txt" th:text="${user.invitees}">
								</p>
							</div>
						</div>

						<div class="procard-row">
							<div class="card procard-label">
								<p class="procard-label-txt-l procard-label-txt"> Direct </p>
								<p class="procard-label-txt-r procard-label-txt" th:text="${user.direct}">
								</p>
							</div>
						</div>

						<div class="card-colored-5 procard-row procard-bar" style="margin-top: 16px">
						</div>
					</div>

					<!--<div class="card card-element card-colored-1 fcard ">
						<p class="form-label" th:text="${user.username}"></p>
						<br/>
						<p class="form-label" th:text="${user.email}"></p>
						<br/>
						<p class="form-label" th:text="${user.rCode}"></p>
						<br/>
						<p class="form-label" th:text="${user.iCode}"></p>
						<br/>
						<p class="form-label" th:text="${user.score}"></p>
						<br/>
						<p class="form-label" th:text="${user.invitees}"></p>
					</div>-->
				</div>
			</div>

			<script>
				function paginate(paction, pageMax)
				{
				    // alert('act: ' + paction + 'max: ' + parseInt(pageMax))
						var pagen = parseInt(document.getElementById('pagen').innerText);
						pagen += 1 - 2 * (paction.id == "page_prev");
						if (pagen > 0 & pagen <= pageMax)
						{
						    const url = '/list?page=' + pagen;
						    location.replace(url);
						}
				}
			</script>
		</div>
	</div>

	<!--<ul>-->
	<!--    <li>-->
	<!--        <a href="/dashboard/refer">Refer and earn</a>-->
	<!--    </li>-->
	<!--    <li>-->
	<!--        <a href="/logout">Logout</a>-->
	<!--    </li>-->
	<!--</ul>-->
</div>
</body>
</html>