<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org"
			th:replace="~{fragments/layout :: layout (~{::body},'dashboard')}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/component.css}"/>
</head>
<body>
<div class="abs login-container">
	<div>
		<div class="showcase card card-colored-0" onresize="onresizeTask()">
			<div class="showcase-title">
				<h2>Welcome back !</h2>
			</div>
			<div class="showcase-container">
				<div class="card-nosh card-element Without-grids">
					<form action="#" th:action="@{/signin}" th:method="post" th:object="${user}">
						<div class="form-container">

							<div class="form-field">
								<input name='username' placeholder='Username' type='text' th:field="*{username}">
							</div>
							<div class="form-field" th:if="${#fields.hasErrors('username')}">
								<p class='form-label form-label-error' th:errors="*{username}"></p>
							</div>

							<div class="form-field">
								<input id='pw' name='password' placeholder='Password' type='password' th:field="*{password}">
							</div>
							<div class="form-field" th:if="${#fields.hasAnyErrors()}">
								<p class='form-label form-label-error'>
									You've entered an incorrect username and/or password. Please try again.
								</p>
							</div>

							<div class="form-field">
								<input class="card-nosh button box-sh" type='submit' value='Sign in'>
							</div>

							<div class="form-field" >
								<a class='forgot' href='#'>Forgot password?</a>
							</div>
							<div class="form-field">
								<a class='forgot' href='/signup'>Not a member? Join us!</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--	<div class="abs showcase card">-->
	<!--		<div>-->
	<!--			Hello world-->
	<!--		</div>-->
</div>
<!--<ul>-->
<!--    <li>-->
<!--        <a href="/dashboard/refer">Refer and earn</a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="/logout">Logout</a>-->
<!--    </li>-->
<!--</ul>-->
</div>
</body>
</html>